.icon {
  padding: 0 14px;
}

mat-icon {
  color:rgba(255,255,255,.87);
}

.spacer {
  flex: 1 1 auto;
}

.NomeDeveloper{
  font-size: 16px;
  align-content: center;
}

*  {
  margin:0;
  padding:0;
}

html, body {height:100%;}

.geral {
  min-height:100%;
  position:relative;
  width:800px;
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
}

.content {overflow:hidden;}
.aside {width:200px;}
.fleft {float:left;}
.fright {float:right;}